.body-index {
	/* Positioning */
	margin-bottom: 150px;
  
	/* Typography */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold; 
	font-style: italic;

	/* Visual */
	background: url("../images/laptop.jpg"); 
	background-repeat: no-repeat; 
	background-size: cover;
	color: #e5a3ad;
	}  
	
	html {
		/* Positioning */
		position: relative;
		
		/* Box-model */
		min-height: 100%; 

		}  

		.navbar-collapse {
			background: #000000;
<<<<<<< HEAD
			/* width: 1400px;  */
=======
			width: 1400px; 
>>>>>>> e68badf9defd5ae11e2469d12076e817fc8cc13f
		} 
			
		.navbar-right-custom {  
		/* Box-model */
		
		padding-top: 6px;
		padding-right: 150px; 
	
	
		
		/* Typography */
		font-family: Arial;
		font-weight: lighter;  

		
		} 

		.name {
			text-align: center;
			font-size: 100px;
		}  

		.sub-name { 
			text-align: center;
			padding-left: 90px;
			font-size: 50px;
		}

	
		/*About Me*/   

		.navbar-right-custom-about {
			background: url("../images/paint2.jpg");
			background-repeat: no-repeat; 
			background-size: cover;
			padding: 200px;
		}   
		
		.container {
			padding-top: 130px;
		  }
		 
		
		  .container {
			position: absolute;
			width: 100%;
			max-width: 650px;
			padding: 75px;
			margin: 100px 300px 40px;
			background: #f8f8ff;
			border: 1px solid #ddd;
			color: #000000;
			opacity: 0.8;
		  } 

		  .auth-image {
			margin: 20px 190px;
			width: 150px; 
			height: 150px; 
			border-radius: 50%; 
		  }
 /* animation*/  
 
 
#particles-js {
	background: url("../images/flower2.jpg"); 
	background-repeat: no-repeat; 
	background-size: cover;
	height: 800px; 
}  


/*skills */

.body-skills {
	background: url("../images/sunflower.jpg"); 
	background-repeat: no-repeat; 
	background-size: cover;
}  

.html5 {
	height: 100px;
	background: #fff;
	margin: 20px; 
} 

.css3 {
	height: 100px;
	background: #fff;
	margin: 20px;
} 

.bootstrap {
	height: 100px;	
	margin: 20px;
} 

.github2 {
	height: 100px;	
	margin: 20px;
	border-radius: 50%; 
} 

.express {
	width: 200px;
	height: 100px;	
	margin: 20px;
	padding-top: 20px;
} 


.javascript {
	width: 150px;
	height: 120px;	
	margin: 20px;
} 

.jquery {
	width: 150px;
	height: 170px;	
	margin: 20px;
} 

.mongo {
	width: 300px;
	height: 170px;	
	margin: 20px;
	padding-top: 30px;
	margin-top: -20px;
} 

.mysql {
	width: 250px;
	height: 170px;	
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
} 

.node {
	width: 180px;
	height: 170px;	
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
} 

.react {
	width: 180px;
	height: 170px;	
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.container-skills { 
	background: #f8f8ff;
	width: 1300px; 
	height: 400px; 
	padding: 20px; 
	margin-top: 100px;
	border: 1px solid #fff;
	opacity: 0.8;
} 

/*Projects*/ 
.body-projects{
	background: url("../images/test.jpeg"); 
	background-repeat: no-repeat; 
	background-size: cover;   
} 

.projects-container {
	display: flex; 
	justify-content: space-between;
	flex-direction: column; 
	flex-wrap: wrap; 
	margin-left: 160px;
	width: 960px; 
	min-width: 960px; 
}

.port-imgs {
    width: 300px;
	height: 300px;
	margin-right: 20px; 
	margin-bottom: 15px;
} 

.par { 
	color: #fff;
	display: flex; 
}    

p {
  margin-top: 100px; 
}

/*contact*/ 
.body-contact {
	background: url("../images/sunflower.jpg"); 
	background-repeat: no-repeat; 
	background-size: cover;
}   

.container-contact { 
	background: #f8f8ff;
	width: 800px; 
	height: 300px; 
	padding: 20px; 
	margin-left: 250px; 
	margin-right: 200px;
	margin-top: 100px;
	border: 1px solid #000000; 
	opacity: 0.8;
} 

.h1-contact {
	text-align: center;
	color: #000000;
}  

h4 {
	text-align: center; 
	color: #000000;
} 

.connect-with-me-photo {
	display: inline-block;
	height: 40px; 
	width: 40px;
	background: white; 
	margin-left: 350px;
} 

.connect-with-me-photo-linkedin {
	display: inline-block;
	height: 40px; 
	width: 40px;
	background: white; 
}  

@media only screen and (min-width: 1200px) {
	.navbar-collapse {
		background: #000000;
		background-size: cover; 
	}   
	.container {
		margin-left: 300px;
	} 
	.container-skills {
		margin-left: 0px;
	} 
	.body-skills {
		background-size: cover;
	}   
	.wrap {
		margin-left: 20px;
		margin-right: 20px;
	} 
	.container-contact {
		margin-left: 240px; 
	} 
}

@media only screen and (max-width: 767px) {
	.navbar-collapse {
		background: #000000;
		width: 767px; 
	}  
	.container {
		margin-left: 100px;
	} 
	.container-skills {
		margin-left: 0px;
	} 
	.body-skills {
		background-size: cover;
	}   
	.wrap {
		text-align: center; 
	}
	.container-contact {
		margin-left: 0px;
		margin-right: 0px;
		width: auto; 
	}   
	.connect-with-me-photo { 
		margin-left: 130px;
		margin-right: auto;
	}
	
	.body-contact {
		background-size: cover; 
	} 
}
  



