html, body {
	font-family: "Lato", sans-serif;
	height: 100%; 
  margin:0;
  font-size: 12px;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}  

h1, h2 {
	font-weight: 700; 
	text-align: center;
	text-decoration: none;
}


header {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
	padding: 1rem 1rem 6rem 1rem; 
	flex-direction: column; 
	align-items: center;
} 

.title-container {
	color: #fff; 
} 

.title {
	animation: 1s ease-out 0s 1 slideInFromLeft;
}  


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.mobile-nav {
	align-self: flex-start;
}

#menu-button {
	background-color: transparent; 
	border: none; 
	color: rgba(255,255,255);
}  

#menu-button:focus {
	outline:0;
}

ul {
	list-style: none; 
}
  
.mobile-nav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(241,241,241);
	-moz-box-shadow: 2px 3px 4px rgba(0,0,0,0.2); 
  -webkit-box-shadow: 2px 3px 4px rgba(0,0,0,0.2); 
	box-shadow: 2px 3px 4px rgba(0,0,0,0.2); 
	color: (0, 0, 0);
	overflow-x: hidden;
	padding-top: 60px;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}
		
nav a {
	padding: 8px 8px 8px 7px;
	text-decoration: none;
	font-size: 1.25rem;
	color: #000; 
	display: block;
	transition: 0.3s;
	font-weight: 600;
	letter-spacing: 1px;
} 

nav a:hover, a:active {
	color: #bdd4e7;
	cursor: pointer;
	text-decoration: none;
}

.mobile-nav .closebtn {
	position: absolute;
	top: 15px;
	right: 25px; 
	color: #000; 
	cursor: pointer;
} 

.desktop-nav {
	display: none;
}

.main-content {
	background-color: rgba(241,241,241); 
	width: 100%; 
	min-height: 100vh; 
	padding: 3rem; 
} 

.content {
 	display: flex; 
	flex-direction: column;
	align-items: center;
}

.main-content h2 {
	margin: 0 0 1rem 0; 
}

/*about me*/
.link-container {
	color: #000; 
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
} 

.link-container:hover {
	color: #000; 
	text-decoration: none;
} 

.about-me {
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.about-me-image {
	background-position: center; 
	border-radius: 50%;
	height: 230px; 
	width: 200px; 
	margin-top: -6rem;
	margin-bottom: 3rem; 
} 

.about-me-description {
	height: auto; 
	margin-left: auto;
	margin-right: auto; 
	line-height: 2.5rem;
	max-width: 700px;
	margin-bottom: 3rem; 
}


.about-me-description a {
	color: #000; 
	cursor: default; 
	pointer-events: none; 
}   

.border-bottom {
	border: 1px solid #D3D3D3; 
	-moz-box-shadow: inset 0 0 10px #D3D3D3;
	-webkit-box-shadow: inset 0 0 10px #D3D3D3;
	box-shadow: inset 0 0 10px #D3D3D3;
	width: 100%; 
	margin-bottom: 3rem; 
}


/*skills */

.skills {
	color: #000; 
} 

.skills a {
	color: #000; 
	line-height: 1rem; 
	cursor: default; 
	pointer-events: none; 
}  


.skills a:hover {
	text-decoration: none;
} 

.skills ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap; 
	flex-flow: row wrap;
} 

.skills ul li {
	list-style: none;
	display: inline-block;
	width: calc(100% / 2);
	height: 50px;
	text-align: center;
	padding-right: 4rem; 
}


/*Projects*/ 
.projects-container {
	display: flex; 
	flex-direction: column; 
	justify-content: center;
}

.img-thumb {
	position: relative;
	margin: 0 2rem; 
} 

.img-thumb img{
	height: 150px;
	margin-bottom: 2rem; 
	border-radius: 5px; 
} 

.img-caption {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  opacity: 0;
	transition: .5s ease;
	background-color:  #000;
	border-radius: 5px;
}

.img-thumb:hover .img-caption {
	opacity: 1;
}

.text-center {
	color: #fff; 
	text-align: center;
	margin: 1rem 0; 
}

a  {
	display: flex;
	justify-content: center;
}

.btn-view {
	border-radius: 5px;
	width: 50%;
	padding: 0.5rem;
	position: absolute;
	color: #fff; 
	border: none; 
	font-weight: 500;
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
} 


/*contact*/  

footer {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
	height: 50px; 
	padding-top: 1rem; 
	padding-bottom: 4rem;
} 

.contact-container {
	display: flex;
	justify-content: center;
}

.contact-icon {
	background-color: #fff; 
	border-radius: 50%;
	color: #000; 
	text-align: center;
	padding: 1rem;  
	margin-right: 2rem; 
	cursor: pointer;
} 

.contact:hover {
	text-decoration: none;
} 

@media only screen and (min-width: 700px) {
	header {
		padding: auto; 
		display: flex !important; 
	} 

	#menu-button {
		display: none; 
	} 

	.desktop-nav {
		width: 100%; 
		height: auto; 
		position: static; 
		background-color: transparent; 
		padding: 0 3rem; 
		box-shadow: none; 
		display: block;
	}  

	nav a {
		color: #fff; 
		font-size: 1rem;
	} 

	.closebtn {
		display: none; 
	}

	 ul {
		display: flex; 
		justify-content: flex-end; 
		margin-right: auto; 
		width: auto;
		font-size: 12px !important;
	}  

	.skills ul li {
		width: calc(100% / 5);
	}  

	.projects-container {
		flex-direction: row !important;
	}

	.img-thumb img{
		height: 200px;
		width: 100%; 
	} 

	.text-center {
		margin-bottom: 3rem; 
	}

	.img-caption {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 2rem; 
		height: 200px;
		width: 100%; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 500;
	}
}



	
